@import url("//fonts.googleapis.com/css?family=Montserrat:700,regular");

h1 { font-family:Montserrat; font-size:28px; height:40px; font-weight:500; }
p { font-family:Montserrat; font-size:16px; font-weight:400; }
